
.footer
{
    background-color: white;
    margin-top: -10px;
    height: auto;
    text-align: center;
    padding-top: 10px;
}
.footer hr
{
    
    width: 300px;
    border: 1px solid black;
    margin-bottom: 15px
}
.footer p
{
   padding-bottom: 10px
}
